*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    color: azure;
}
.navbar{
    color: #fff;
    background-color:palevioletred;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right:100px ;
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar .heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:25px;
}
.login-btn{
    column-gap: 18px;
    height: 45px; 
    display: flex;
    justify-content: center;
    align-items: center;   
}
.login-btn a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
}

.login-btn #user{
    display: none;
}
.login-btn #logout{
    display: flex;
}
/* ====navbar end===== */
/* ====heading start===== */
.signup-heading h1{
    font-weight: 700;
    font-size: 30px;
    background-color:palevioletred;
    display: flex;
    border-radius: 6px;
    justify-content: space-between;
    align-items: center;
    padding-left:100px ;
    padding-top:10px ;
    padding-bottom:10px ;
    color: #FFF;
  
}
/* ====heading end===== */
/* ====btn==== */
.btn{
    color: #fff;
    background-color: palevioletred;
    border:1px solid palevioletred;
    border-radius: 20px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing:1px; 
}
.btn:hover{
    color: #fff;
    background-color: palevioletred;
    border: none;
}